@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



.App{
  background-color: #121212;
  background-image: url('../assets/imgs/wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.footer{
  height: 400px;
  background-color: #121212;
  position: relative;
  bottom: 0;
  width: 100%;
}

