@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --main-black: #121212;
  --main-white: white;
  --main-rose: #E11D48;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.heroApp{
  background-color: #121212;
  background-image: url('../assets/imgs/wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.footer{
  height: 400px;
  background-color: #121212;
  position: relative;
  bottom: 0;
  width: 100%;
}

.gameHeader{
  background-color: #121212;
}

.gameFooter{
  background-color: #121212;
}

.modesContainer{
  background-color: black;
  background-image: url('../assets/imgs/textureMinecraft.png');
}

.customBuilds{
  background-color: white;
  background-image: url('../assets/imgs/textureMinecraft-Builds.png');
}

.rulesContainer{
  background-color: white;
  background-image: url('../assets/imgs/textureMinecraft-Builds.png');
}

.rulesContainerJr{
  background-color: rgba(0, 0, 0, 0.793);
  background-image: url('../assets/imgs/textureMinecraft-Builds.png');
}

.noMatchContainer{
  background-color: white;
  background-image: url('../assets/imgs/textureMinecraft-Builds.png');
}