.bxl-discord-alt {
    color: #5562EA;
}

.bxl-youtube {
    color: #F70000;
}

.bxl-twitter {
    color: #1C96E8;
}


.navLinks a {
    color: grey;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.navLinks a:first-child {
    color: white;
    opacity: 1;
}


.navLinks a i {
    position: relative;
    top: 2px;
}

.navSocial ul li a {
    margin: 0px 5px;
}

.homeIcon {
    padding: 5px;
    border-radius: 5px;
    background-color: #333333;
}

.menuBtn {
    cursor: pointer;
    margin-right: 30px;
    display: none;
    color: grey;

    transition: all 0.2s ease-in-out;
}

.menuBtn:hover {
    transform: rotate(360deg);
    color: #EE0E47;
}

/* RESPONSIVE */

#check {
    display: none;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {

    .navSocial {
        display: none;
    }


    .navLinks li {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        border-radius: 1000px 0px 0px 0px;
        background-color: #171717;
        opacity: 1;
        top: 100px;
        left: 100%;
        z-index: 2;

        transition: all 0.3s ease-in-out;
    }

    .menuBtn {
        display: flex;
    }

    #check:checked~ul li {
        left: 0;
        border-radius: 100px 0px 0px 0px;
    }

    #check:checked~label {
        color: #EE0E47;
    }
}

@media only screen and (max-width: 457px) {
    .menuBtn {
        right: -40px;
    }

    .navLogo {
        left: 0px;
    }
}

.navbarBackground {
    background-color: #121212;
}
